<form method="POST" action="/api/register">
    <fieldset>
        <legend>New User</legend>
        <!-- TITLE -->
        <p>
            <label for="name">UserName</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label for="email">Email</label><br>
            <input type="text" name="email" />
        </p>
        <p>
            <label for="password">Password</label><br>
            <input type="text" name="password" />
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type="submit">Register</button>
    </p>

</form>