<h3 style="text-align:left">Rating has been submitted successfully</h3>
<h3 style="text-align:center"><a href='/api/logout'>Logout</a></h4>
    <h5 style="background-color:powderblue;">(This logout will take you back to register Page now all the endpoints are
        protected so, please register a new user to
        test the endpoints again)</h5>